<div class="row">
  <div class="col-4 mb-1 mt-1">
    <div class="list-group" *ngFor="let contact of contacts; let i = index">
        <!--<a [routerLink]="['/contacts',contact.contactId,contact.fullName]" [queryParams]="{phone:contact.phoneNumber}" class="list-group-item list-group-item-action bg-light" (click)="onClick(contact)">-->
        <a [routerLink]="['/contacts']" class="list-group-item list-group-item-action bg-light" (click)="onClick(contact)">
          <span class="badge badge-pill bg-dark text-white mr-2">{{i+1}}</span>{{contact.fullName}}
        </a>
    </div>
  </div>
  <div class="col-8 mb-5">
    <!--<router-outlet></router-outlet>-->
    <app-contact [(contact)]="fromBackcontact"></app-contact>
  </div>

</div>

