<div class="container">
<h3 class="text-center">Welcome to application Contacts! Save your all contacts in our service!</h3>
<p class="text-center"></p>

<div class="row">

<div class="col-4">
  <hr>
  <div class="row ml-3 mb-3">You can:</div>
  <div class="row ml-3 mb-2"><span class="badge-pill bg-white mr-2">1</span>Add new contact</div>
  <div class="row ml-3 mb-2"><span class="badge-pill bg-white mr-2">2</span>Edit contact</div>
  <div class="row ml-3 mb-2"><span class="badge-pill bg-white mr-2">3</span>Remove contact</div>
  <div class="row ml-3 mb-2"><span class="badge-pill bg-white mr-2">4</span>Remove all contact</div>
  <hr>
  <div class="row ml-3 mb-3 mt-3">You need:</div>
  <div class="row ml-3 mb-2"><span class="badge-pill bg-primary mr-2">!</span>To register in our service</div>
  <hr>
  <div class="row ml-3 mb-3 mt-3">You have:</div>
  <div class="row ml-3 mb-2"><span class="badge-pill bg-success mr-2">!</span>list of all your contacts</div>
  <hr>

</div>


<div class="text-center col-8"><img class="img-thumbnail mb-2 mt-2" style="border-radius: 5%" src="assets/img.png"></div>

</div>
  <hr>
  <div class="mb-3 mt-3 text-center"><button class="btn btn-warning" (click)="ready()">Are you ready?</button></div>
  <br>
</div>
